footer{
    margin-top: 30px; 
}
.mail a{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;   
}
.page-footer{
    padding: 20px 0; 
}
.page-footer>div{
    margin-bottom: 0 !important; 
}


.social_media p{
    display:inline-block;
    margin-right: 10px;
}
.social_media a{
    width: 16px; 
    height: 16px; 
    margin-right: 15px; 
    display: inline-block; 
    cursor: pointer;

}



.social_media a:nth-of-type(1){
    margin-left: 10px; 
    cursor: pointer;

}
.mail > *{
    display:inline-block; 
    margin-left: 10px; 
    cursor: pointer;
}



.phone > *{
    display: inline-block; 
}
.phone a{
    width: 10%; 
    height: 13px; 
    margin-right: 5px; 
    cursor: pointer; 
}



@media only screen and (max-width: 767px) {
    .welcome a:first-of-type>img{
        margin:15%;
        width:70%; 
    }
    .phone a{
        width:15%; 
    } 
    .phone p {
         display:block; 
     }

} 
