.macaron_body{
    font-family: Arial, helvetica, sans-serif; 
    color: #6A6969; 
    /* height: 60vh;  */
    margin: 0 3%; 
}
.macaron_body>.row{
    height: 70%;
}
.macaron_body>.row>div{
    height: 100%; 
}


.our_macaron_bkImage{
    height: 400px !important; 
    overflow:hidden;
}
.our_macaron_bkImage img{
    transform: translate(-25%, -20%);
    position:relative;
    width: 120%;  
}

@media only screen and (max-width: 768px) {
    .our_macaron_bkImage{
        display: none; 
    }
    .macaron_body{
        text-align: center; 
    }
    .classics{
        width: 100% !important; 
    }

}

